<button routerLink="/home">🏠</button>
<h1>Vennila varities</h1>
<div class="main-container">

    <div class="card">
        <div class="card-container" *ngFor="let item of data">
            <div class="icecream-image">
                <img [src]="item.image" alt="" srcset="">
            </div>
            <div class="icecream-name">
                <h4>{{ item.name }}</h4>
            </div>
            <div class="icecream-des">
                <p>{{item.description}}</p>
            </div>
            <div class="price">
                {{item.price}}
            </div>
        </div>
    </div>
    