<div class="container" *ngIf="showNavbar">
  <div class="navbar-container">
    <div class="navbar">
      <div class="navbar-header">
        <h3>Sample Dev</h3>
      </div>

      <ul>
        <li class="nav-item"><a routerLink="/home">Home</a></li>
        <li class="nav-item"><a routerLink="/vennila">Vanilla</a></li>
        <li class="nav-item"><a routerLink="/chocolate">Chocolate</a></li>
        <li class="nav-item"><a routerLink="/stawberry">Strawberry</a></li>
      </ul>
    </div>
  </div>
</div>