

<!-- <button routerLink="/home">🏠</button> -->

<h1>Strawberry Varieties</h1>

<div class="main-container">
  <div class="card" *ngFor="let item of data">
    <div class="card-container">
      <div class="icecream-image">
        <img [src]="item.image" [alt]="item.name">
      </div>

      <div class="icecream-name">
        <h4>{{ item.name }}</h4>
      </div>

      <div class="icecream-des">
        <p>{{ item.description }}</p>
      </div>

      <div class="price">
        ₹{{ item.price }}
      </div>
    </div>
  </div>
</div>