<div class="container">

  <div class="navbar-container">
    <div class="navbar">
      <div class="navbar-header">
        <h3>sample dev</h3>
      </div>
      <ul>
        <li class="nav-item">Home</li>
        <li class="nav-item">Products</li>
        <li class="nav-item">About</li>
        <li class="nav-item">contact us</li>
      </ul>
    </div>
  </div>
</div>
<div class="image">
  <div class="images">
    <img [src]="imagepath" alt="" srcset="">
  </div>
</div>

<div class="icecream-buttons">
  <div class="main-buttons">
    <button type="button" routerLink="/vennila"><span class="icon">🍦</span>Vanilla</button>
    <button type="button" routerLink="/chocolate"><span class="icon">🍦</span>Chocolate</button>
    <button type="button" routerLink="/stawberry"><span class="icon">🍦</span>Strawberry</button>
  </div>
</div>