*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-between;
    background-color:bisque;
    padding: 10px;
    width: 800px;
    border-radius: 50px;
    
}
.navbar-header{
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.navbar:hover{
    background-color: rgb(232, 203, 165);
    transition: 0.5s;
    transform: scale(1.1);

}
.navbar ul li:hover{
    background-color: rgb(232, 203, 165);
    transition: 0.5s;
    transform: scale(1.1);
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    cursor: pointer;
    /* justify-content: space-between; */
}
.navbar ul li{
    padding: 10px;
}

.icecream-buttons{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* width: 800px; */
    padding: 10px;
    margin-top: 20px;
    /* background-color: bisque; */
}
.main-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    gap: 50px;
}
.main-buttons button{
    padding: 10px;
    /* border-radius: 10px; */
    background-color: bisque;
    cursor: pointer;
    border: none;
    border-radius: 10px;
   
}
.image{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.image img{
    /* height: ; */
    /* position: absolute; */
    width: 1518px;
    margin-top: 20px;
}
.main-buttons button:hover{
    background-color: rgb(232, 203, 165);
    transition: 0.5s;
    border-radius: 10px;
    transform: scale(1.1);
}
